@font-face {
    font-family: "Alarm Clock";
    src: url("./fonts/alarmclock.ttf");
}

* {
    font-family: "Segeo UI", sans-serif;
}

.city {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.city>img {
    height: 28px;
    vertical-align: middle;
}


.clock {
    font-family: "Alarm Clock", monospace;
    font-size: 64px;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border: 1px solid lightgray;
    padding: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

#page_title {
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
}










