@keyframes resize {
    from {
    width: 100px;
    height: 100px;        
    }

to {
    width: 400px;
    height: 400px;
}
}

@keyframes resize2 {
    0% {
    width: 100px;
    height: 100px;
    }
    50% {
    width: 400px;
    height: 400px;
    }
    100% {
    width: 100px;
    height: 100px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#rect {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: resize2, rotation;
    animation-duration: 4s, 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}