@keyframes puls1 {
    0% {
        width: 50px;
        height: 50px;
    }
    25% {
        width: 100px;
        height: 100px;
    }
    50% {
        width: 50px;
        height: 50px;
    }
    75% {
        width: 200px;
        height: 200px;
    }
}

@keyframes puls2 {
    0% {
        width: 100px;
        height: 100px;
    }
    50% {
        width: 50px;
        height: 50px;
    }
    100% {
        width: 100px;
        height: 100px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    box-sizing: border-box;
}



#rect1, #rect2 {
    background-color: orange;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    animation-name: puls1, rotation, puls2;
    animation-duration: 10s, 2s, 4s;
    animation-iteration-count: 1, infinite, infinite;
    animation-timing-function: linear;
    animation-delay: 0s, 7.5s, 8.75s;
}

